* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    background-color: rgba(0, 0, 0, 0.89);
    -ms-overflow-style: none;
    overflow: hidden;
}

.container {
    overflow: auto;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vh;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

header ul a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease
}

header a:hover {
    color: rgba(240, 248, 255, 0.61);
}

header .li1 {
    margin-left: 100px;

}

header .li2 {
    margin-left: 100px;

}

.ab2 {
    display: none;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 0 3%;
}

.aboutMe {
    width: 45%;
}

.aboutMe h1 {
    color: azure;
    margin-top: -80px;
}

.aboutMe p {
    margin-top: 50px;
    color: rgba(240, 255, 255, 0.548);
}

.image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    max-width: 450px;
    border-radius: 50%;
    box-shadow: 0 0 50px #158d8d;
    transition: box-shadow 0.9s ease;
}

.image img:hover {
    box-shadow: 0 0 50px #0bc9c9;
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #17191a, #4a4e50, #030303);
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

}

#svg {
    height: 150px;
    width: 150px;
    stroke: rgb(255, 255, 255);
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    margin-top: 30px;
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
}

@media (max-width:940px) {
    .main {
        display: block;
        height: 80vh;
    }

    .aboutMe {
        text-align: center;
        width: 100%;
        margin-top: 15%;
    }

    .image {
        margin-top: 5vh;
        width: 100%;
    }

    .ab2 {
        display: block;
    }

    .ab1 {
        display: none;
    }
}

@media (max-width: 768px) {
    .aboutMe {
        margin-top: 20%;
    }

    header .li1 {
        margin-left: 60px;
    }

    header .li2 {
        margin-left: 60px;
    }

}

@media (max-width: 568px) {

    .image img {
        max-width: 350px;
    }

    .aboutMe {
        margin-top: 30%;
    }

    header .li1 {
        margin-left: 30px;
    }

    header .li2 {
        margin-left: 30px;
    }



}

@media (max-width: 468px) {
    .image img {
        max-width: 270px;
    }

    .aboutMe {
        margin-top: 30%;
    }

    .aboutMe h1 {
        font-size: large;
    }

    .logo-name {
        font-size: 15px;
        letter-spacing: 10px;
    }
}

@media (max-width: 368px) {

    .image img {
        max-width: 220px;
    }

    .aboutMe {
        margin-top: 30%;
    }

    .logo-name {
        font-size: 10px;
        letter-spacing: 8px;
    }
}